<a href="https://colab.research.google.com/github/ShabnaIlmi/Data-Science-Group-Project/blob/main/CCRPM_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Installing Necessary Libraries**

In [1]:
!pip install --upgrade tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.11/dist-packages (2.17.1)
Collecting tensorflow
  Downloading tensorflow-2.18.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.1 kB)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (24.12.23)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from tensorflow) (24.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (4.25.5)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (2.32.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.11/dist-packages (from tensorflow) (75.1.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.17.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.69.0)
Collecting tensorboard<2.19,>=2.18 (from tensorflow)
  Downloading tensorboard-2.18.0-py3-none-any.whl.metadata (1.6 kB)
Requirement already satisfied: keras>=3.5.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.5.0)
Requirement already satisfied: numpy<2.1.0,>=1.26.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.26.4)
Requirement already satisfied: h5py>=3.11.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.12.1)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.4.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.37.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.11/dist-packages (from astunparse>=1.6.0->tensorflow) (0.45.1)
Requirement already satisfied: rich in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow) (13.9.4)
Requirement already satisfied: namex in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow) (0.0.8)
Requirement already satisfied: optree in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow) (0.13.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (2024.12.14)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow) (3.1.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.11/dist-packages (from werkzeug>=1.0.1->tensorboard<2.19,>=2.18->tensorflow) (3.0.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from rich->keras>=3.5.0->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.11/dist-packages (from rich->keras>=3.5.0->tensorflow) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.11/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow) (0.1.2)
Downloading tensorflow-2.18.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (615.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 615.4/615.4 MB 2.6 MB/s eta 0:00:00
Downloading tensorboard-2.18.0-py3-none-any.whl (5.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.5/5.5 MB 33.5 MB/s eta 0:00:00
Installing collected packages: tensorboard, tensorflow
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.17.1
    Uninstalling tensorboard-2.17.1:
      Successfully uninstalled tensorboard-2.17.1
  Attempting uninstall: tensorflow
    Found existing installation: tensorflow 2.17.1
    Uninstalling tensorflow-2.17.1:
      Successfully uninstalled tensorflow-2.17.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tf-keras 2.17.0 requires tensorflow<2.18,>=2.17, but you have tensorflow 2.18.0 which is incompatible.
Successfully installed tensorboard-2.18.0 tensorflow-2.18.0

In [3]:
pip install fancyimpute scikit-learn pandas

Requirement already satisfied: fancyimpute in /usr/local/lib/python3.11/dist-packages (0.7.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: knnimpute>=0.1.0 in /usr/local/lib/python3.11/dist-packages (from fancyimpute) (0.1.0)
Requirement already satisfied: cvxpy in /usr/local/lib/python3.11/dist-packages (from fancyimpute) (1.6.0)
Requirement already satisfied: cvxopt in /usr/local/lib/python3.11/dist-packages (from fancyimpute) (1.3.2)
Requirement already satisfied: pytest in /usr/local/lib/python3.11/dist-packages (from fancyimpute) (8.3.4)
Requirement already satisfied: nose in /usr/local/lib/python3.11/dist-packages (from fancyimpute) (1.3.7)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from knnimpute>=0.1.0->fancyimpute) (1.17.0)
Requirement already satisfied: osqp>=0.6.2 in /usr/local/lib/python3.11/dist-packages (from cvxpy->fancyimpute) (0.6.7.post3)
Requirement already satisfied: clarabel>=0.5.0 in /usr/local/lib/python3.11/dist-packages (from cvxpy->fancyimpute) (0.9.0)
Requirement already satisfied: scs>=3.2.4.post1 in /usr/local/lib/python3.11/dist-packages (from cvxpy->fancyimpute) (3.2.7.post2)
Requirement already satisfied: iniconfig in /usr/local/lib/python3.11/dist-packages (from pytest->fancyimpute) (2.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from pytest->fancyimpute) (24.2)
Requirement already satisfied: pluggy<2,>=1.5 in /usr/local/lib/python3.11/dist-packages (from pytest->fancyimpute) (1.5.0)
Requirement already satisfied: qdldl in /usr/local/lib/python3.11/dist-packages (from osqp>=0.6.2->cvxpy->fancyimpute) (0.1.7.post5)

# **Importing Necessary Libraries**

In [5]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer, KNNImputer
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

# **Mounting the Google Drive**

In [6]:
# Mounting the google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **Loading the Dataset**

In [9]:
# Loading the dataset with the proper delimiter (semicolon)
data = pd.read_excel('/content/drive/MyDrive/Comprehensive_Chemical_Risk_Prediction_Model/IMPORT STATISTICS - 2023.xlsx')

In [10]:
# Displaying the first few rows of the data
data.head()

,IMPORTER,YEAR,MONTH,HSCODE,COUNTRY,UNIT,QUANTITY,VALUE_RS,DESCRIPTION_01,DESCRIPTION_02,DESCRIPTION_03
0,NaN,2023.0,JANUARY,280110,BANGLADESH,Kg.,131600.0,13877114.0,Inorganic chemicals; Organic or inorganic comp...,"Fluorine, chlorine, bromine and iodine ...",Chlorine
1,NaN,2023.0,JANUARY,280110,INDIA,Kg.,37800.0,3924989.0,Inorganic chemicals; Organic or inorganic comp...,"Fluorine, chlorine, bromine and iodine ...",Chlorine
2,NaN,2023.0,JANUARY,280110,MALAYSIA,Kg.,12090.0,5390772.0,Inorganic chemicals; Organic or inorganic comp...,"Fluorine, chlorine, bromine and iodine ...",Chlorine
3,NaN,2023.0,FEBRUARY,280110,BANGLADESH,Kg.,25200.0,3089445.0,Inorganic chemicals; Organic or inorganic comp...,"Fluorine, chlorine, bromine and iodine ...",Chlorine
4,NaN,2023.0,FEBRUARY,280110,INDIA,Kg.,75599.0,6939860.0,Inorganic chemicals; Organic or inorganic comp...,"Fluorine, chlorine, bromine and iodine ...",Chlorine

# **Exploratary Data Analysis**

In [11]:
# Displaying information
print("Displaying data information")
data.info()

Displaying data information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1042 entries, 0 to 1041
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   IMPORTER        0 non-null      float64
 1   YEAR            292 non-null    float64
 2   MONTH           292 non-null    object
 3   HSCODE          1042 non-null   int64
 4   COUNTRY         1038 non-null   object
 5   UNIT            1042 non-null   object
 6   QUANTITY        1039 non-null   float64
 7   VALUE_RS        292 non-null    float64
 8   DESCRIPTION_01  1042 non-null   object
 9   DESCRIPTION_02  1042 non-null   object
 10  DESCRIPTION_03  1042 non-null   object
dtypes: float64(4), int64(1), object(6)
memory usage: 89.7+ KB

## **Identifying Categorical and Numerical Features**

In [12]:
# Identifying categorical and numerical columns
categorical_cols = data.select_dtypes(include=['object']).columns
numerical_cols = data.select_dtypes(include=['int64', 'float64']).columns

In [13]:
# Displaying the Categorical and the Numerical columns'
print("Categorical Columns:")
print(categorical_cols)

print("\nNumerical Columns:")
print(numerical_cols)

Categorical Columns:
Index(['MONTH', 'COUNTRY', 'UNIT', 'DESCRIPTION_01', 'DESCRIPTION_02',
       'DESCRIPTION_03'],
      dtype='object')

Numerical Columns:
Index(['IMPORTER', 'YEAR', 'HSCODE', 'QUANTITY', 'VALUE_RS'], dtype='object')

**Since 'Importer' column has been misintepreted as a numerical column due to the unavailability of data, reassigning it has an object type column and reassigning the HScode as an object type column as well.**

In [14]:
# Converting the Importer and the HSCODE Columns into object type column
data['IMPORTER'] = data['IMPORTER'].astype(str)
data['HSCODE'] = data['HSCODE'].astype(str)

# Displaying the importer and the columns data type
print("Data Type of Importer and HSCODE Columns:")
print(data[['IMPORTER', 'HSCODE']].dtypes)

Data Type of Importer and HSCODE Columns:
IMPORTER    object
HSCODE      object
dtype: object

### **Categorical Features**

In [15]:
# List of categorical features
categorical_features = ['IMPORTER', 'MONTH', 'COUNTRY', 'HSCODE', 'UNIT', 'DESCRIPTION_01', 'DESCRIPTION_02', 'DESCRIPTION_03']

# Displaying the categorical features
print("Categorical Features:")
for feature in categorical_features:
    print(f"- {feature}")

# Display data type of the columns
print("\nData Type of Categorical Features:")
print(data[categorical_features].dtypes)

Categorical Features:
- IMPORTER
- MONTH
- COUNTRY
- HSCODE
- UNIT
- DESCRIPTION_01
- DESCRIPTION_02
- DESCRIPTION_03

Data Type of Categorical Features:
IMPORTER          object
MONTH             object
COUNTRY           object
HSCODE            object
UNIT              object
DESCRIPTION_01    object
DESCRIPTION_02    object
DESCRIPTION_03    object
dtype: object

**Unique values and their counts relevant to each categorical column**

In [16]:
# Displaying the unique values and their counts relevant to each categorical column
print("Unique values and their count relevant to each categorical column:\n")
for col in categorical_features:
    unique_values = data[col].unique()
    value_counts = data[col].value_counts()
    print(value_counts)
    print(" ")

Unique values and their count relevant to each categorical column:

IMPORTER
nan    1042
Name: count, dtype: int64

MONTH
NOVEMBER     191
FEBRUARY      13
JULY          13
MAY           11
SEPTEMBER     11
JANUARY       10
JUNE           9
AUGUST         8
OCTOBER        8
MARCH          6
APRIL          6
DECEMBER       6
Name: count, dtype: int64

COUNTRY
Vietnam    299
Russia     109
Kenya       71
Ukraine     58
germany     51
          ...
U.S.A.       1
Mexico       1
CANADA       1
India        1
Romania      1
Name: count, Length: 66, dtype: int64

HSCODE
28070010      85
2847000000    84
28080000      67
3102401000    58
28291100      54
              ..
2801200032     1
2801200031     1
2801200030     1
2801200029     1
2812101100     1
Name: count, Length: 131, dtype: int64

UNIT
Kg     750
Kg.    112
KGS     47
PCS     39
NOS     33
GMS     23
MTS     19
LTR     18
DRM      1
Name: count, dtype: int64

DESCRIPTION_01
Inorganic chemicals; Organic or inorganic compounds of precious metals, of rare earth metals, of radioactive elements or of isotopes    922
Fertilizers                                                                                                                             120
Name: count, dtype: int64

DESCRIPTION_02
Chlorates and perchlorates; bromates and perbromates; iodates and periodates                            120
Mineral or chemical fertilizers, nitrogenous                                                            120
Sulphuric acid; oleum                                                                                   120
Halides and halide oxides of non metals                                                                 120
Fluorides; fluorosilicates, fluoroaluminates, and other complex fluorine salts                          116
Hydrogen peroxide, whether or not solidified with urea.                                                 110
Nitric acid; sulphonitric acids.                                                                        100
Fluorine, chlorine, bromine and iodine                                                                   64
Nitric acid; sulphonitric acids.                                                                  ..     36
Hydrogen peroxide, whether or not solidified with urea.                                           ..     35
Fluorine, chlorine, bromine and iodine                                                            ..     34
Nitric acid; sulphonitric acids.                                                                         20
Fluorine, chlorine, bromine and iodine                                                                   20
Cyanides, cyanide oxides and complex cyanides.                                                           20
Cyanides, cyanide oxides and complex cyanides.                                                    ..      7
Name: count, dtype: int64

DESCRIPTION_03
Halides and halide oxides of non metals                                           120
Sulphuric acid; oleum                                                             120
Mineral or chemical fertilizers, nitrogenous                                      120
Chlorates and perchlorates; bromates and perbromates; iodates and periodates      120
Fluorides; fluorosilicates, fluoroaluminates, and other complex fluorine salts    116
Hydrogen peroxide, whether or not solidified with urea.                           110
Nitric acid; sulphonitric acids.                                                  100
Iodine                                                                             80
Nitric acid; sulphonitric acids                                                    36
Hydrogen peroxide, whether or not solidified with urea.                            35
Chlorine                                                                           34
Nitric acid; sulphonitric acids.                                                   20
Cyanides and cyanide oxides : Of sodium                                            11
Cyanides and cyanide oxides : Other                                                10
- Cyanides and cyanide oxides : Other                                               4
Bromine                                                                             4
- Cyanides and cyanide oxides : Of sodium                                           2
Name: count, dtype: int64

**Categorical columns with null values and their relevant counts**

In [17]:
# Displaying the categorical columns which contains null values and their counts
print("Categorical columns with null values and their counts:")
for col in categorical_features:
    null_count = data[col].isnull().sum()
    if null_count > 0:
        print(f"{col}: {null_count}")

Categorical columns with null values and their counts:
MONTH: 750
COUNTRY: 4

**Categorical columns with 'N/A' and their counts**

In [18]:
# Displaying categorical columns that contain 'N/A' values and their counts
print("Categorical columns with 'N/A' values and their counts:")

for col in categorical_features:
    # Calculate the count of 'N/A' values in the column
    na_count = (data[col] == 'N/A').sum()

    if na_count > 0:
        # If there are 'N/A' values, print the column name and count
        print(f"{col}: {na_count}")
        print(" ")
    else:
        # Optional: Print a message for columns without 'N/A' values
        print(f"{col}: No 'N/A' values found.")
        print(" ")

Categorical columns with 'N/A' values and their counts:
IMPORTER: No 'N/A' values found.

MONTH: No 'N/A' values found.

COUNTRY: No 'N/A' values found.

HSCODE: No 'N/A' values found.

UNIT: No 'N/A' values found.

DESCRIPTION_01: No 'N/A' values found.

DESCRIPTION_02: No 'N/A' values found.

DESCRIPTION_03: No 'N/A' values found.

## **Numerical Features**

**Since 'Year' column has been misintepreted as a float64 data type column reassigning it as a int64 type column**

In [21]:
# Converting the 'Year' column to int64 data type
# data['YEAR'] = data['YEAR'].astype(int)

# Displaying the data type of the 'Year' column
# print("Data Type of 'Year' Column:")
# print(data['YEAR'].dtype)

**The conversion cannot be done since the column contains missing values (both N/A and null values)**

In [22]:
# List of numerical features
numerical_features = ['YEAR', 'QUANTITY', 'VALUE_RS']

# Displaying the numerical features
print("Numerical Features:")
for feature in numerical_features:
    print(f"- {feature}")

# Display the data type of the numerical features
print("\nData Type of Numerical Features:")
print(data[numerical_features].dtypes)

Numerical Features:
- YEAR
- QUANTITY
- VALUE_RS

Data Type of Numerical Features:
YEAR        float64
QUANTITY    float64
VALUE_RS    float64
dtype: object

**Unique values and their counts in the numerical columns**

In [23]:
# Displaying the unique values and their count in the numerical columns
print("Unique values and their count in the numerical columns:\n")
for col in numerical_features:
    unique_values = data[col].unique()
    value_counts = data[col].value_counts()
    print(value_counts)
    print(" ")

Unique values and their count in the numerical columns:

YEAR
2016.0    180
2023.0    112
Name: count, dtype: int64

QUANTITY
1000.0     55
1.0        49
16200.0    40
5.0        31
27.0       28
           ..
204.0       1
23200.0     1
22820.0     1
22560.0     1
19050.0     1
Name: count, Length: 359, dtype: int64

VALUE_RS
0.40           4
53.79          3
188.55         3
0.20           3
21.15          2
              ..
350598.00      1
2213950.00     1
10318355.00    1
24988179.00    1
0.68           1
Name: count, Length: 263, dtype: int64

**Numerical columns with null values and their relevant counts**

In [30]:
# Displaying the numerical columns with null values and their relevant counts
print("Numerical columns with null values and their relevant counts:")
for col in numerical_cols:
    null_count = data[col].isnull().sum()
    if null_count > 0:
        print(f"{col}: {null_count}")

Numerical columns with null values and their relevant counts:
YEAR: 750
QUANTITY: 3
VALUE_RS: 750

**Numerical columns with 'N/A' values and their relevant counts**

In [29]:
# Displaying the numerical columns with 'N/A' or NA values and their relevant counts
print("Numerical columns with 'N/A' or NA values and their relevant counts:")
for col in numerical_features:
    na_count = data[col].isin(['N/A', 'NA']).sum()
    if na_count > 0:
        print(f"{col}: {na_count}")
    else:
        print(f"{col}: No 'N/A' or NA values found.")
    print(" ")

Numerical columns with 'N/A' or NA values and their relevant counts:
YEAR: No 'N/A' or NA values found.

QUANTITY: No 'N/A' or NA values found.

VALUE_RS: No 'N/A' or NA values found.

**No either 'N/A' or 'NA' values since their intepreted as null values**

# **Data Preprocessing**

In [31]:
# Step 1: Removing whitespaces from the object type columns
object_columns = data.select_dtypes(include=['object']).columns
data[object_columns] = data[object_columns].apply(lambda x: x.str.strip())

In [32]:
# Step 2: Removing unnecessary full stops(".") from the categorical columns and numerical columns
data[categorical_features] = data[categorical_features].apply(lambda x: x.str.replace('.', ''))

In [33]:
# Displaying the unique values and their counts relevant to each categorical column
print("Unique values and their count relevant to each categorical column:\n")
for col in categorical_features:
    unique_values = data[col].unique()
    value_counts = data[col].value_counts()
    print(value_counts)
    print(" ")

Unique values and their count relevant to each categorical column:

IMPORTER
nan    1042
Name: count, dtype: int64

MONTH
NOVEMBER     191
FEBRUARY      13
JULY          13
MAY           11
SEPTEMBER     11
JANUARY       10
JUNE           9
AUGUST         8
OCTOBER        8
MARCH          6
APRIL          6
DECEMBER       6
Name: count, dtype: int64

COUNTRY
Vietnam    299
Russia     109
Kenya       71
Ukraine     58
germany     51
          ...
USA          1
Mexico       1
CANADA       1
India        1
Romania      1
Name: count, Length: 66, dtype: int64

HSCODE
28070010      85
2847000000    84
28080000      67
3102401000    58
28291100      54
              ..
2801200032     1
2801200031     1
2801200030     1
2801200029     1
2812101100     1
Name: count, Length: 131, dtype: int64

UNIT
Kg     862
KGS     47
PCS     39
NOS     33
GMS     23
MTS     19
LTR     18
DRM      1
Name: count, dtype: int64

DESCRIPTION_01
Inorganic chemicals; Organic or inorganic compounds of precious metals, of rare earth metals, of radioactive elements or of isotopes    922
Fertilizers                                                                                                                             120
Name: count, dtype: int64

DESCRIPTION_02
Nitric acid; sulphonitric acids                                                                       120
Chlorates and perchlorates; bromates and perbromates; iodates and periodates                          120
Mineral or chemical fertilizers, nitrogenous                                                          120
Sulphuric acid; oleum                                                                                 120
Halides and halide oxides of non metals                                                               120
Fluorides; fluorosilicates, fluoroaluminates, and other complex fluorine salts                        116
Hydrogen peroxide, whether or not solidified with urea                                                110
Fluorine, chlorine, bromine and iodine                                                                 84
Nitric acid; sulphonitric acids                                                                        36
Hydrogen peroxide, whether or not solidified with urea                                                 35
Fluorine, chlorine, bromine and iodine                                                                 34
Cyanides, cyanide oxides and complex cyanides                                                          20
Cyanides, cyanide oxides and complex cyanides                                                           7
Name: count, dtype: int64

DESCRIPTION_03
Nitric acid; sulphonitric acids                                                   156
Hydrogen peroxide, whether or not solidified with urea                            145
Chlorates and perchlorates; bromates and perbromates; iodates and periodates      120
Mineral or chemical fertilizers, nitrogenous                                      120
Sulphuric acid; oleum                                                             120
Halides and halide oxides of non metals                                           120
Fluorides; fluorosilicates, fluoroaluminates, and other complex fluorine salts    116
Iodine                                                                             80
Chlorine                                                                           34
Cyanides and cyanide oxides : Of sodium                                            11
Cyanides and cyanide oxides : Other                                                10
- Cyanides and cyanide oxides : Other                                               4
Bromine                                                                             4
- Cyanides and cyanide oxides : Of sodium                                           2
Name: count, dtype: int64

## **Handling Missing Values**

**Handling missing values in the categorical columns**

**Replacing all the missing values with 'NaN' for imputation**

In [35]:
# Step 3: Handling missing values in the categorical columns

# Replacing the all the missing values in the categorical columns with NaN for impuation
data[categorical_features] = data[categorical_features].replace([ np.nan], 'NaN')

**Checking for any missing values which is left behind when replacing with 'NaN'**

In [36]:
# Verifying the changes after 'NaN' imputation and checking for leftover missing values in categorical features
print("Checking for any missing values left behind after replacing with 'NaN':")
for col in categorical_features:
    null_count = data[col].isnull().sum()
    if null_count > 0:
        print(f"{col}: {null_count} missing values")
    else:
        print(f"{col}: No missing values")
    print(" ")

Checking for any missing values left behind after replacing with 'NaN':
IMPORTER: No missing values

MONTH: No missing values

COUNTRY: No missing values

HSCODE: No missing values

UNIT: No missing values

DESCRIPTION_01: No missing values

DESCRIPTION_02: No missing values

DESCRIPTION_03: No missing values

In [38]:
# Displaying dataset information
print("Displaying dataset information:")
data.info()

Displaying dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1042 entries, 0 to 1041
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   IMPORTER        1042 non-null   object
 1   YEAR            292 non-null    float64
 2   MONTH           1042 non-null   object
 3   HSCODE          1042 non-null   object
 4   COUNTRY         1042 non-null   object
 5   UNIT            1042 non-null   object
 6   QUANTITY        1039 non-null   float64
 7   VALUE_RS        292 non-null    float64
 8   DESCRIPTION_01  1042 non-null   object
 9   DESCRIPTION_02  1042 non-null   object
 10  DESCRIPTION_03  1042 non-null   object
dtypes: float64(3), object(8)
memory usage: 89.7+ KB

**Handling missing values in the numerical columns**

**Using Multiple Imputation to handle the missing values in the numerical columns since the nature of the missing values in each numerical column varies from one another.**

**Using Multiple Imputaion to capture the relationships between features for time-based or categorical data.**

In [ ]:
# Step 4: Handling missing values in the numerical columns

# Iterative Imputation for 'YEAR'
iterative_imputer = IterativeImputer(random_state=42)
data['YEAR'] = iterative_imputer.fit_transform(data[['YEAR', 'MONTH', 'QUANTITY', 'VALUE_RS']])

**Using K-NN Imputaion to efficiently capture the small missing values and the captures local patterns.**

In [ ]:
# KNN Imputation for 'QUANTITY'
knn_imputer = KNNImputer(n_neighbors=5)
data[['QUANTITY']] = knn_imputer.fit_transform(data[['QUANTITY']])

**Using Predictive Imputaion to capture the complex relationships.**

In [ ]:
# Predictive Imputation using Random Forest for 'VALUE_RS'
missing_value_rs = data[data['VALUE_RS'].isnull()]
non_missing_value_rs = data[data['VALUE_RS'].notnull()]